*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #254441;
    color: #ffffff;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    width: 60vh;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}
.box{
    width: 18vh;
    height: 18vh;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    background-color: #399378;
    color: #ffffff;
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset{
    width: 20vh;
    height: 8vh;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    background-color: #000000;
    color: #ffffff;
    font-size: 1.1rem;
}
.newGame{
    width: 20vh;
    height: 8vh;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    background-color: #000000;
    color: #ffffff;
    font-size: 1.1rem;
}

.msg-container{
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.hide{
    display: none;
}